.popup_back {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  text-align: center;
}

.form {
  background: rebeccapurple;
  border-radius: 14px;
  box-shadow: 1px 0px 5px rgb(125, 125, 125);
  box-sizing: border-box;
  height: 360px;
  width: 360px;
  padding: 20px;
  margin: 100px auto;
  position: relative;
}

.hidden {
  display: none;
}

@media (max-width: 680px) {
  .order-form {
    height: 100%;
    width: 100%;
  }
}


